body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
  text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.city_label {display:inline-block;margin-right:10px;}
.dropdown {display:inline-block;}

.posee {
  display:inline-block;margin-right:10px;}

.budget {
  display:inline-block;margin-right:10px;}

.rating_label {
  display:inline-block;margin-right:10px;}

.rating_dropdown {
  display:inline-block;margin-right:10px;}
