<!-- hello world

<h1> Previous form responses: </h1>
  <p>Adults: {{ num_adults }}</p>
  <p>Kids: {{ num_kids}} <p>
  <p>Price_Range: {{ Price_Range}} <p>
    <li> value=1 = $0 - $50 </li>
    <li> value=2 = $51 - $80 </li>
    <li> value=3 = $81 - $100 </li>
    <li> value=4 = $100 Up </li>
  <p>City: {{ city}} <p>
  <p>Rating: {{ rating}} <p>

Hello {{firstname}}

<h2> Personal (2nd) form responses: </h2>
  <p>Firstname: {{ firstname }}</p>
  <p>Cuisine Choices: {{ Cuisines}} <p>
  <p>Activities Selected: {{ Activities}} <p>
  <p>Entertainment/Art: {{ Entertainment}} <p>
  <p> Dietary Needs?: {{ Diet}} <p>
 -->

<h2>Here are the top 5 Airbnb's for you!</h2>

<ul>

  <li>
    <p>Name: {{ TopAirbnbs.0.name }}, Rating: {{ TopAirbnbs.0.overall_satisfaction }}</p>
    <p>If you do stay, considering visiting:</p>
    <ul>
      <p>Best {{ Categories.0 }}: {{ BestYelps.0.0.name }}, Rating: {{ BestYelps.0.0.rating }}</p>
      <p>Best {{ Categories.1 }}: {{ BestYelps.0.1.name }}, Rating: {{ BestYelps.0.1.rating }}</p>
      <p>Best {{ Categories.2 }}: {{ BestYelps.0.2.name }}, Rating: {{ BestYelps.0.2.rating }}</p>
      <p>Best {{ Categories.3 }}: {{ BestYelps.0.3.name }}, Rating: {{ BestYelps.0.3.rating }}</p>
      <p>Best {{ Categories.4 }}: {{ BestYelps.0.4.name }}, Rating: {{ BestYelps.0.4.rating }}</p>
      <p>Best {{ Categories.5 }}: {{ BestYelps.0.5.name }}, Rating: {{ BestYelps.0.5.rating }}</p>
    </ul>
  </li>

  <li>
    <p>Name: {{ TopAirbnbs.1.name }}, Rating: {{ TopAirbnbs.1.overall_satisfaction }}</p>
    <p>If you do stay, considering visiting:</p>
    <ul>
      <p>Best {{ Categories.0 }}: {{ BestYelps.1.0.name }}, Rating: {{ BestYelps.1.0.rating }}</p>
      <p>Best {{ Categories.1 }}: {{ BestYelps.1.1.name }}, Rating: {{ BestYelps.1.1.rating }}</p>
      <p>Best {{ Categories.2 }}: {{ BestYelps.1.2.name }}, Rating: {{ BestYelps.1.2.rating }}</p>
      <p>Best {{ Categories.3 }}: {{ BestYelps.1.3.name }}, Rating: {{ BestYelps.1.3.rating }}</p>
      <p>Best {{ Categories.4 }}: {{ BestYelps.1.4.name }}, Rating: {{ BestYelps.1.4.rating }}</p>
      <p>Best {{ Categories.5 }}: {{ BestYelps.1.5.name }}, Rating: {{ BestYelps.1.5.rating }}</p>
    </ul>
  </li>

  <li>
    <p>Name: {{ TopAirbnbs.2.name }}, Rating: {{ TopAirbnbs.2.overall_satisfaction }}</p>
    <p>If you do stay, considering visiting:</p>
    <ul>
      <p>Best {{ Categories.0 }}: {{ BestYelps.2.0.name }}, Rating: {{ BestYelps.2.0.rating }}</p>
      <p>Best {{ Categories.1 }}: {{ BestYelps.2.1.name }}, Rating: {{ BestYelps.2.1.rating }}</p>
      <p>Best {{ Categories.2 }}: {{ BestYelps.2.2.name }}, Rating: {{ BestYelps.2.2.rating }}</p>
      <p>Best {{ Categories.3 }}: {{ BestYelps.2.3.name }}, Rating: {{ BestYelps.2.3.rating }}</p>
      <p>Best {{ Categories.4 }}: {{ BestYelps.2.4.name }}, Rating: {{ BestYelps.2.4.rating }}</p>
      <p>Best {{ Categories.5 }}: {{ BestYelps.2.5.name }}, Rating: {{ BestYelps.2.5.rating }}</p>
    </ul>
  </li>

  <li>
    <p>Name: {{ TopAirbnbs.3.name }}, Rating: {{ TopAirbnbs.3.overall_satisfaction }}</p>
    <p>If you do stay, considering visiting:</p>
    <ul>
      <p>Best {{ Categories.0 }}: {{ BestYelps.3.0.name }}, Rating: {{ BestYelps.3.0.rating }}</p>
      <p>Best {{ Categories.1 }}: {{ BestYelps.3.1.name }}, Rating: {{ BestYelps.3.1.rating }}</p>
      <p>Best {{ Categories.2 }}: {{ BestYelps.3.2.name }}, Rating: {{ BestYelps.3.2.rating }}</p>
      <p>Best {{ Categories.3 }}: {{ BestYelps.3.3.name }}, Rating: {{ BestYelps.3.3.rating }}</p>
      <p>Best {{ Categories.4 }}: {{ BestYelps.3.4.name }}, Rating: {{ BestYelps.3.4.rating }}</p>
      <p>Best {{ Categories.5 }}: {{ BestYelps.3.5.name }}, Rating: {{ BestYelps.3.5.rating }}</p>
    </ul>
  </li>

  <li>
    <p>Name: {{ TopAirbnbs.4.name }}, Rating: {{ TopAirbnbs.4.overall_satisfaction }}</p>
    <p>If you do stay, considering visiting:</p>
    <ul>
      <p>Best {{ Categories.0 }}: {{ BestYelps.4.0.name }}, Rating: {{ BestYelps.4.0.rating }}</p>
      <p>Best {{ Categories.1 }}: {{ BestYelps.4.1.name }}, Rating: {{ BestYelps.4.1.rating }}</p>
      <p>Best {{ Categories.2 }}: {{ BestYelps.4.2.name }}, Rating: {{ BestYelps.4.2.rating }}</p>
      <p>Best {{ Categories.3 }}: {{ BestYelps.4.3.name }}, Rating: {{ BestYelps.4.3.rating }}</p>
      <p>Best {{ Categories.4 }}: {{ BestYelps.4.4.name }}, Rating: {{ BestYelps.4.4.rating }}</p>
      <p>Best {{ Categories.5 }}: {{ BestYelps.4.5.name }}, Rating: {{ BestYelps.4.5.rating }}</p>
    </ul>
  </li>
</ul>