hello world

<h1> Previous form responses: </h1>
  <p>Adults: {{ num_adults }}</p>
  <p>Kids: {{ num_kids}} <p>
  <p>Price_Range: {{ Price_Range}} <p>
    <li> value=1 = $0 - $50 </li>
    <li> value=2 = $51 - $80 </li>
    <li> value=3 = $81 - $100 </li>
    <li> value=4 = $100 Up </li>
  <p>City: {{ city}} <p>
  <p>Rating: {{ rating}} <p>

Hello {{firstname}}

<h2> Personal (2nd) form responses: </h2>
  <p>Firstname: {{ firstname }}</p>
  <p>Cuisine Choices: {{ Cuisines}} <p>
  <p>Activities Selected: {{ Activities}} <p>
  <p>Entertainment/Art: {{ Entertainment}} <p>
  <p> Dietary Needs?: {{ Diet}} <p>
